.board td {
  float: left;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 10px;
  text-align: center;
  font-size: 90px;
  border: 2px solid red;
}
.X {
  background-color: red;
}
.X:before {
  content: "X";
}
.O {
  background-color: green;
}
.O:before {
  content: "O";
}
pre {
  word-wrap: break-word;
}
